<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurity" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="butchersgarden.main.restaurants.restsecurity.SpringSecurityApplication" />
    <module name="SpringSecurity.main" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="butchersgarden.main.restaurants.restsecurity.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>